#base
/.idea
/.well-known
.DS_Store
Thumbs.db
*.log
*.sql
*.txt
*.xml
*.dt
*.swp
*.swo
*.pdf
*.doc
*.docx
*.csv
*.xls
*.old
*.sketch
composer.phar
composer
vendor
*.http
.hg
.ftpconfig
.git
.htpasswd

*.rar
*.7z
*.zip
*.tar
*.tgz
*.tar.gz

#analitics
yandex_*.html
google*.html
sitemap*.xml
!/robots.txt

# логи
/log


#custom



